.header {
    width: 100%;
    height: 67px;
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 67px;
        &_left {
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        &_right {
            display: flex;
            justify-content: space-between;
            width: 406px;
            &_phone {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 173px;
                text-align: right;
                a {
                    font-size: 16px;
                    color: #364844;
                }
                img {
                    width: 28px;
                    height: 28px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }

    &_hamburger_menu {
        display: none;
        width: 45px;
        height: 35px;
        position: relative;
        z-index: 1000;
        overflow: hidden;
        span {
            width: 40px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #1fa181;
            border-radius: 5px;
            transition: all 0.6s;
            z-index: 1000;
        }
    }

    &_hamburger_menu span:nth-of-type(2) {
        top: calc(50% - 7px);
    }
    &_hamburger_menu span:nth-of-type(3) {
        top: calc(50% + 7px);
    }

    &_hamburger_menu.active span:nth-of-type(1) {
        display: none;
    }
    &_hamburger_menu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    &_hamburger_menu.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    .number {
        display: none;
    }
}

.address {
    position: relative;
    width: 110px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    &:before {
        content: url('./assets/img/placeholder.png');
        position: absolute;
        left: -20px;
        top: 0px;
        width: 100px;
    }
}
